version: '3.8'

services:
  app:
    build:
      context: .
    image: fastapi_app_image
    container_name: fastapi_app
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - postgres
    networks:
      - app_network
    environment:
      - REDIS_URL=QMaSwZyGWvOSXiGsllni3BQ0USQT6mRd@redis-19296.c8.us-east-1-3.ec2.cloud.redislabs.com:19296/0
      - DB_URL = postgresql://neondb_user:W3gT9kFp2sQx@ep-steel-hill-902138.ap-south-1.aws.neon.tech/neondb?sslmode=require

  redis:
    image: redis:7.0
    container_name: redis_container
    ports:
      - "6379:6379"
    networks:
      - app_network

  postgres:
    image: postgres:15
    container_name: postgres_container
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: sunny
      POSTGRES_DB: github_data_test_AI_agent
    networks:
      - app_network

  celery_worker:
    build:
      context: .
    image: celery_worker_image
    container_name: celery_worker
    command: celery -A app.workers.tasks worker --loglevel=info
    depends_on:
      - redis
      - postgres
    networks:
      - app_network
    environment:
    
      - CELERY_BROKER_URL=redis://default:YOUR_REDIS_PASSWORD@redis-12132.c15.us-east-1-4.ec2.cloud.redislabs.com:12132/0
      - REDIS_URL=redis://default:YOUR_REDIS_PASSWORD@redis-12132.c15.us-east-1-4.ec2.cloud.redislabs.com:12132/0
      - DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_u0Mn2XCpQZVT@ep-delicate-leaf-a4fku0da-pooler.us-east-1.aws.neon.tech/git-cr-pr?sslmode=require&channel_binding=require


networks:
  app_network:
    driver: bridge
